

# Default reviewers/codeowners for all code changes
* @ToaaMahmoud @M0hamed-Khaled


# Reviewer by email for html files
# *.html test@gmail.com

# Reviewer by specific folders
# /folder1/folder2 @user1 @user2 @test@gmail.com
